.listItem{
  margin-bottom: 4px;
  display: flex;
  text-align: left;
}
.itemText{
  border: 1px solid white;
  word-break: break-all;
  flex: 1 1;
  padding: 10px;
}
.itemButtons{
  display: flex;
}
