button{
  padding: 12;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
}

button:hover{
  cursor: pointer;
  background: white;
  color: black;
}
.redBtn{
  color: red;
}
.redBtn:hover{
  background-color: brown;
  border-color: brown;
}
.blueBtn{
  color: blue;
}
.blueBtn:hover{
  background-color: navy;
  border-color: navy;
}
