button{
  padding: 12;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
}

button:hover{
  cursor: pointer;
  background: white;
  color: black;
}
.redBtn{
  color: red;
}
.redBtn:hover{
  background-color: #ff9aa2;
  border-color: #ff9aa2;
}
.blueBtn{
  color: Blue;
}
.blueBtn:hover{
  background-color: #6eb5ff;
  border-color: #6eb5ff;
}
